// @import './variables.scss'; // Already imported in style-resources-loader
// @import './mixins.scss'; // Already imported in style-resources-loader
@import './transition.scss';
@import './_markericon.css';

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
  line-height: 1.2;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.app-container, .tab-container {
  padding: 10px 10px 6px 10px;
}

.el-card__header {
  background-color: #e4f0fb;
  padding: 6px 7px
}

.el-card__body {
  padding: 0 7px;
}

.el-table {
  th, td {
    padding: 1px 0;
  }
  .warning-row {
    background-color: oldlace;
  }
  .error-row {
    background-color: #ffdbdb;
  }
  .expired-row {
    color: #bbb;
  }
  .cell {
    white-space: nowrap;
  }
}


dl > dt {
  float: left;
  width: 47%;
  border-bottom: 1px #dfe4ed solid;
}
dl > dd {
  margin-left: 48%;
  border-bottom: 1px #dfe4ed solid;
}

.el-select {
  width: 100%;
}

.wideautocomplete {
  width: 100%;
}


/*
List
*/
.list-item {
  padding: 11px 13px;
  border: 1px solid #dfe6ec;
  border-bottom: none;
  font-size: smaller;
}
.list-item:last-child {
  border-bottom: 1px solid #dfe6ec;
}

.list-item:hover {
    background-color: #F5F7FA;
    transition: background-color 0.25s ease;
}

.list-item {
  cursor: pointer;
}

.list-item.active {
  background-color: #3376c8;
  color: white;
}
.list-item.active:hover {
  background-color: #5f9bf4;
}


/* Dialog sizing */
@media screen and (max-width:640px) {
  .el-dialog {
    width: 90%;
  }
}

@media screen and (min-width:641px) and (max-width:768px) {
  .el-dialog {
    width: 70%;
  }
}

@media screen and (min-width:769px) {
  .el-dialog {
    width: 50%;
  }
}

.el-menu-item {
  height: 36px;
  line-height: 36px;
}

.el-avatar--medium {
  vertical-align: middle;
}


.progress_disable_animations * {
  transition: none !important;
}


/* Global */
.mt5 {
  margin-top: 5px;
}
.mb5 {
  margin-bottom: 5px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}
ul {
  margin: 8px 0 8px 0;
}

.hidden {
  display: none;
}
